email_assistant/n8n/workflows/bootstrap_pipeline.json
{
  "name": "OUMA Bootstrap Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 10 }]
        }
      },
      "id": "bootstrap-trigger",
      "name": "Bootstrap Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://api:8000/v2/n8n/users_pending_bootstrap",
        "options": {
          "timeout": 30000
        }
      },
      "id": "get-pending",
      "name": "Get Users Pending Bootstrap",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [440, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "user_ids",
        "options": {}
      },
      "id": "split-users",
      "name": "Split by User",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://api:8000/v2/n8n/bootstrap_user/{{ $json.value }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "bootstrap-user",
      "name": "Bootstrap User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [840, 300]
    }
  ],
  "connections": {
    "Bootstrap Trigger": {
      "main": [[{ "node": "Get Users Pending Bootstrap", "type": "main", "index": 0 }]]
    },
    "Get Users Pending Bootstrap": {
      "main": [[{ "node": "Split by User", "type": "main", "index": 0 }]]
    },
    "Split by User": {
      "main": [[{ "node": "Bootstrap User", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": ["ouma", "bootstrap"]
}