email_assistant/n8n/workflows/category_suggestion_refresh.json
{
  "name": "OUMA Category Suggestion Refresh",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 12 }]
        }
      },
      "id": "refresh-trigger",
      "name": "Refresh Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://api:8000/v2/n8n/active_users",
        "options": { "timeout": 30000 }
      },
      "id": "get-active",
      "name": "Get Active Users",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [440, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "user_ids",
        "options": {}
      },
      "id": "split-users",
      "name": "Split by User",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://api:8000/v2/n8n/generate_tag_suggestions/{{ $json.value }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"sample_size\": 50, \"process_limit\": 50 }",
        "options": { "timeout": 120000 }
      },
      "id": "gen-tags",
      "name": "Generate Tag Suggestions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [840, 300]
    }
  ],
  "connections": {
    "Refresh Trigger": {
      "main": [[{ "node": "Get Active Users", "type": "main", "index": 0 }]]
    },
    "Get Active Users": {
      "main": [[{ "node": "Split by User", "type": "main", "index": 0 }]]
    },
    "Split by User": {
      "main": [[{ "node": "Generate Tag Suggestions", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": ["ouma", "classifier", "tag-suggestions"]
}