email_assistant/n8n/workflows/email_processing_pipeline.json
{
  "name": "OUMA Email Processing Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 5 }]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://api:8000/v2/n8n/users_due_for_poll",
        "options": {
          "timeout": 30000
        }
      },
      "id": "get-users",
      "name": "Get Users Due for Poll",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [440, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "user_ids",
        "options": {}
      },
      "id": "split-users",
      "name": "Split by User",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://api:8000/v2/n8n/poll_user/{{ $json.value }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "poll-user",
      "name": "Poll User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [840, 300]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [[{ "node": "Get Users Due for Poll", "type": "main", "index": 0 }]]
    },
    "Get Users Due for Poll": {
      "main": [[{ "node": "Split by User", "type": "main", "index": 0 }]]
    },
    "Split by User": {
      "main": [[{ "node": "Poll User", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": ["ouma", "email-processing"]
}